<form accept-charset="UTF-8" action="/users/new" data-remote="true" method="GET">
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
  Form contents
</form>
